body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2{
  font-size: 3rem;
  color: #e2dbdb;
}

hr{
  margin: 20px auto;
  border-color: #f05f44;
  border: 2px solid #f05f44;
  max-width: 65px;
  opacity: 1;
}

.buffer{
  height: 10rem;
}
.btn{
  font-weight: 700;
  border-radius: 100px;
  text-transform: uppercase;
}

.btn-primary{
  background-color: #f05f44;
  border-color: #f05f44;
}

.btn-primary:hover{
  background-color: #000000;
  border-color: #ffffff;
  border-width: 3px;
}

.btn-sm{
  padding: 1rem 1rem;
}